<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/jquery.emojipicker.css">
    
    <!-- Emoji Data -->
    <link rel="stylesheet" type="text/css" href="./css/jquery.emojipicker.a.css">    
    <title>Lyte Chat - Home</title>
    <style>
        .imgS {
          width: 100%;
        }
        .list-group-item {
          cursor: pointer;
          transition: all 0.5s;
        }
        .list-group-item:hover {
            background: #f5f5f5;
        }
        .bottom-bar {
          display: none;
        }
        .emojiPickerIcon {
          height: 30px !important;
          width: 30px !important;
          margin-right:10px;
          margin-top:10px;
          background:#fff;
          border-radius: 100%;
          border:1px  solid #aaa;
        }
        .black {
            
        }
        .emojiPicker {
          margin-top:-250px !important;
          margin-left:10vw;
          box-shadow: none !important;          

        }
        .emojiPicker nav {
          display: none !important;
        }
        .shortcode {
          display: none !important;
        }
        .sections {
          padding:10px 15px;
          font-size:15px;
          border:1px solid #eee;          
          border-radius: 5px;
          box-shadow: 0px 0px 10px #aaa;
        }
        .sections input {
          padding:10px !important;
        }
        .displayNone {
          display: none !important;
        }
        .seendiv {
          text-align: right;
          margin-right:15px;
          display: none;
          font-size: 15px;
          color:green;          
          margin-top:-15px;
          margin-bottom:15px;
        }
        
       ::-webkit-scrollbar {
            width: 8px;
            /*display: none;*/
        }
                        
        ::-webkit-scrollbar-track-piece
        {
            background-color:transparent;
        }
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background:#454B69;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background:#3E435E; 
        }
        .img {
          border-radius: 100%;
          height: 50px;
          width: 50px;          
          font-size:20px;
          padding:10px;
          padding-left: 17px;
          background: #E6ECF0;
          border:1px solid #ccc;
          float: left;          
        }
        .img2 {
          border-radius: 100%;
          height:100px;
          width: 100px;     
          margin-left:50%;
          transform: translateX(-50%);     
          font-size:40px;          
          padding: 20px;
          color:#fff;
          background: #1DA1F2;
          float: left;          
        }
        .chatname {
          font-size:15px;
          float: left;
          margin-left:15px;
          margin-top:5px;
          color:#000;
        }        
        .unseen {
          float: right;
          background:green;
          padding:2px 7px;
          font-size: 12px;
          color:#fff;
          margin-top:15px;
          border-radius: 100px;
        }
        .list-group-item {
          border-radius:0px !important; 
          border:none !important;
          
          
        }
        .msg-left div {
          border-radius:15px;
          padding:5px 15px;
          font-size:15px;
          display: inline-block;
          position: relative;          
          margin-left:15px;
          margin-right:15px;
          border:1px solid rgba(0,0,0,0.2);          
          color: #000000;
          background:#fff; 
          max-width:30vw;
          text-align: justify;
        }
        .msg-left p {
          margin-left:20px;
          font-size:10px;
          margin-top:2px;
        }
        .msg-right p {
          margin-right:20px;
          font-size:10px;
          margin-top:2px;
        }
        .msg-right div {
          border-radius:15px;
          color:#fff;
          background:#555;
          max-width:30vw;
          padding:5px 15px;
          text-align: justify;
          font-size:15px;
          display: inline-block;
          position: relative;                
          margin-right:15px;
          margin-left:15px;
          border:1px solid rgba(0,0,0,0.2);
                    
        }

        .chats-div {
          transition: all 1s;
        }

        .reset-search {

          margin-left:91%;
          margin-top:-35px;
          cursor: pointer;
          font-size:20px;
          color:#444;
          position: absolute;
        }
        .bar-search {
          margin-left:15px;
          margin-top:-35px;  
          color:#444;        
          font-size:20px;
          position: absolute;
        }
        #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: rgba(0,0,0,0.7);
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px 25px;
        position: fixed;
        border-radius: 100px;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
        }

        #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 1s 12s;
        animation: fadein 0.5s, fadeout 1s 12s;
        }

        @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
        }

        @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
        }

        @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;} 
        to {bottom: 0; opacity: 0;}
        }

        @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
        }
    </style>
  </head>
  <body style="background: #E6ECF0;font-family: 'Quicksand', sans-serif;">
    <br><br><br>
    <div class="container">
        <div class="row">            
            <div class="col-md-10">
                <div >                  
                  <div>
                      <div class="row">
                        <div class="col-md-4" style="padding:0;margin:0;">
                            <div class="search-bar">                                
                              <input type="text" class="form-control searchQuery" onkeyup="resetsearch();search();" autocomplete="off" placeholder="Search for people" style="border:1px solid #ddd;border-radius: 5px;padding:15px 45px;" id="searchQuery" style="margin:0px;width:100%;"/>
                              <div class="reset-search"></div>
                              <div class="bar-search"><i class="fa fa-search"></i></div>                                                        
                            </div>
                            
                            <div class="chats-div" style="margin-top:2vh;height:70vh !important;background:#fff;overflow-x:auto;border-radius: 5px;border:1px solid #ddd;">
                                <div id="top_div"></div>
                                <ul class="list-group" id="search-results" style="margin: 0;padding:0;">                                  
                                  
                                </ul>
                                <ul class="list-group" id="chats" style="margin: 0;padding:0;">                                  
                                      <li class="list-group-item" id="loading-message">Loading your chats...</li>
                                      <li class="list-group-item" id="nochat-message"></li>
                                </ul>
                            </div>                            
                        </div>
                        <div class="col-md-8"  style="padding:0;margin:0;">
                            <div class="messages-div">
                                <div id="before" style="background:#fff;height:77.3vh;text-align:center;padding-top:85px;margin-left:2vh;border:1px solid #ddd;border-radius:5px;">
                                    <p style="color:#454b69;font-weight:bold;font-size:45px;margin:0;">
                                        Welcome to Lyte Chat 
                                    </p>
                                    <p style="color:#1DA1F2;font-size:25px;">
                                       Feel the lyteness 
                                    </p>
                                    <br>
                                    Click on chat in left to start messaging
                                    
                                </div>                                
                                <!--<div class="top-bar" style="background:#fff;height:10vh;margin-left:2vh;padding:10px 15px;border:1px solid #ddd;border-radius:5px 5px 0px 0px;">
                                    <div class="img">N</div><div class="chatname">Nishikant Parmar<br>20 Points</div><div class="unseen">online</div></li>
                                </div>
                                <div class="messages-inner-div"  style="background:#fff;height:60vh !important;margin-left:2vh;padding:0;border-right:1px solid #ddd;border-left:1px solid #ddd;overflow: auto;">
                                    <br>                                                               
                                </div>
                                <div class="bottom-bar">
                                    <div style="background:none;height:7.4vh;margin-left:2vh;padding:0;">   
                                        <input type="text" class="form-control" id="msg-input" placeholder="Type a message..." style="margin-top:0vh;padding:3.5vh 25px;border:1px solid #ddd;border-radius:0px 0px 5px 5px;">                              
                                    </div>
                                </div>-->
                            </div>
                            <div  id="bottom-bar">
                                <div style="background:none;height:7.4vh;margin-left:2vh;padding:0;">   
                                    <input type="text" class="form-control" autocomplete="off" id="msg-input" placeholder="Type a message..." style="margin-top:0vh;padding:3.5vh 85px 3.5vh 25px;border:1px solid #ddd;border-radius:0px 0px 5px 5px;">
                                    <div class="addbtn" style="margin-left:85%;margin-top:-42px;z-index:99;position:absolute;padding:2px 8px;border:1px solid #aaa;color:#777;border-radius: 100px;background: #eee;">
                                          
                                              <i class="fa fa-plus"></i>
                                          
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div style="background:#fff;text-align:center;border:1px solid #ddd;border-radius:5px;">
                    <br>
                    <div class="img2"><%=user.fullname.substr(0,1)%></div>                   
                    <div style="margin-top:15px;display: inline-block;"><%=user.fullname%>     </div>
                    <div style="margin-top:0px;display: inline-block;" >@<%=user.username%>   </div><br>
                    <div style="margin-top:0px;display: inline-block;"><div id="user-points"><%=user.points%></div><i class="fa fa-star"></i>  Points </div><br>
                    <div style="margin-top:0px;display: inline-block;"><a href="/logout">Logout</a></div>
                    <br><br>
                </div>  
                <br>
                <div style="text-align: center;color:#777;font-size:12px;">
                    <i class="fa fa-copyright"></i> Copyright 2019 <hr> NISHIKANT PARMAR
                </div>                
            </div>
        </div>
    </div>  
    <div id="snackbar"></div>
    
    <script src="https://code.jquery.com/jquery-3.1.0.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://js.pusher.com/4.4/pusher.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="./js/jquery.emojis.js"></script>    
    <script type="text/javascript" src="./js/jquery.emojipicker.js"></script>
    <script>
      AOS.init({
        once: true
      });
      function snackbar(text) {
        var x = document.getElementById("snackbar");
        x.innerHTML=text;
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
      }
      var user_chats =<%- JSON.stringify(user.chats)%>
      Pusher.logToConsole = false;
      var chat_now = null;
      var noofmsgs=0;
      var lastmsg = null;

      var pusher = new Pusher('c84f4087b73a11ea3d8d', {
        cluster: 'ap2',
        forceTLS: true
      });

      function buildSearchResults(data){        
        if (data.unseen===false){
          return '<li class="list-group-item" onclick="loadmessage(false,\''+data.uid+'\',\'\')"><div class="img">'+data.chatname.substr(0,1)+'</div><div class="chatname">'+goodstr(data.chatname)+'<br>'+goodstr(data.lastmessage)+'</div><div class="unseen" style="color:#000;background:#eee;">Resume</div></li>';
        } else {
          return '<li class="list-group-item" onclick="addnewchat(\''+data.uid+'\')"  id="'+data.username+'"><div class="img">'+data.chatname.substr(0,1)+'</div><div class="chatname">'+goodstr(data.chatname)+'<br>'+goodstr(data.lastmessage)+'</div><div class="unseen">'+data.no_unseen+'</div></li>';
        }        
      }

      $('#bottom-bar').addClass('bottom-bar');

      function buildChat(data){              
            var chatname = data.chat_name.<%=user.username%>;            
            
            if (chatname.length>25){
              chatname =  chatname.substr(0,25)+"..";
            }

            if (data.last_message.length>25){
              data.last_message =  data.last_message.substr(0,25)+"...";
            } else {
              data.last_message = data.last_message;
            }
            console.log(data.last_message_by==='<%=user.user_id%>',data.last_message_seenby.includes('<%=user.user_id%>'),data.last_message_by===null);
            if((data.last_message_by==='<%=user.user_id%>')||(data.last_message_seenby.includes('<%=user.user_id%>'))||(data.last_message_by===null)){
              
              return '<li class="list-group-item" id="'+data.chat_id+'" onclick="loadmessage(true,\''+data.chat_id+'\', \''+data.chat_name.<%=user.username%>+'\')" ><div class="img">'+chatname.substr(0,1)+'</div><div class="chatname"><b>'+chatname+'</b><br><div id="lm'+data.chat_id+'" style="color:#000;">'+data.last_message+'</div></div><div class="unseen-out'+data.chat_id+'"></div></li>';
            } else {
              return '<li class="list-group-item" id="'+data.chat_id+'" onclick="loadmessage(true,\''+data.chat_id+'\', \''+data.chat_name.<%=user.username%>+'\')" ><div class="img">'+chatname.substr(0,1)+'</div><div class="chatname"><b>'+chatname+'</b><br><div id="lm'+data.chat_id+'" style="color:#000;">'+data.last_message+'</div></div><div class="unseen-out'+data.chat_id+'"><div class="unseen">New Msg</div></div></li>';
            }            
        }
              
      function loadmessage(bool,id,chatname){
        
          $("#search-results").html("");
          $('.reset-search').html('');
          $('.searchQuery').val('');
          $('#before').css("display","none");
          $('#bottom-bar').removeClass('bottom-bar');
          

          if(bool){

                $('.messages-div').html('<div class="top-bar" style="background:#fff;height:10vh;margin-left:2vh;padding:10px 15px;border:1px solid #ddd;border-radius:5px 5px 0px 0px;"><div class="img">'+chatname.substr(0,1)+'</div><div class="chatname" style="margin-top:15px;"><b>'+chatname+'</b></div></li></div><div class="messages-inner-div"  style="background:#fff;height:60vh !important;margin-left:2vh;padding:0;border-right:1px solid #ddd;border-left:1px solid #ddd;overflow: auto;"><div style="padding:15px 25px;" id="custom-text"></div></div>');
                loadmessagesinner(id);
                $(".unseen-out"+id).html('');
                $('#custom-text').html("Loading messages..");
                $('#msg-input').emojiPicker({
                  height: '200px',
                  width:  '200px'
                });
          }      else {
            var user_id2 = id;
            fetch('/getuserchats/'+user_id2, {method:'get'}).then((res)=>{
              return res.json();
            }).then((data)=>{
                if(!data.error){
                    loadmessage(true,data.chat_id,data.personName2);
                }
            });

          }    
          
      }

      function loadmessagesinner(chat_id){
              
              fetch('/getmessages/'+chat_id,{method:'get'}).then((res)=>{
              
                    return res.json();
              }).then((data)=>{
                  
                  chat_now = chat_id;
                  if(data.docs.length>0){                    
                          $('#custom-text').html(" ");
                          data.docs.forEach((onemsg)=>{
                              
                              if(onemsg.by==='<%=user.user_id%>') {
                                  lastmsg = true;
                                  $(".messages-inner-div").append(buildMessage(onemsg, 'right'));
                              } else {
                                  lastmsg = false;
                                  $(".messages-inner-div").append(buildMessage(onemsg, 'left'));
                              }
                          });
                          
                          if(lastmsg&&data.lastbymeseen){
                            $(".messages-inner-div").append("<div class='seendiv'><i class='fa fa-check-circle'></i> Message Seen</div>");
                              noofmsgs=noofmsgs+1;
                              $(".seendiv").fadeIn(500);
                              $('.messages-inner-div').animate({ scrollTop: 1000*noofmsgs }, 1);
                          }

                          noofmsgs = data.docs.length;                     
                          $('.messages-inner-div').animate({ scrollTop: 1000*noofmsgs }, 50*noofmsgs);
                  } else {    
                    $('#custom-text').html("New chat. Please start messaging.");                
                  }
                  
              });
      };

      $.fn.enterKey = function (fnc) {
          return this.each(function () {
              $(this).keypress(function (ev) {
                  var keycode = (ev.keyCode ? ev.keyCode : ev.which);
                  if (keycode == '13') {
                      fnc.call(this, ev);
                  }
              })
          })
      }

      $("#msg-input").enterKey(function () {
          var msg = $(this).val().trim();
          if(msg!=''){
              fetch('/addnewmsg',{
                  method:'post',
                  body:JSON.stringify({"msg":msg, "chat_id":chat_now}),
                  headers : {
                      "Content-Type":"application/json"
                  }     

              }).then((res)=>{
                  return res.json();
                  
              }).then((data)=>{
                  if(data.error===false){
                    $(this).val('');                    
                  }            
              });
          }
      })

      function addnewchat(uid2){
          $("#search-results").html("");
          $('.reset-search').html('');
          $('.searchQuery').val('');

          if(uid2){
            if(uid2.toString().trim()!=""){
              fetch('/addnewchat',{
                    method:'post',
                    body:JSON.stringify({"uid2":uid2}),
                    headers : {
                        "Content-Type":"application/json"
                    }     

                }).then((res)=>{
                    return res.json();
                    
                }).then((data)=>{
                                 
                });
            }
          }
      }

      function buildMessage(data, align){       
                    
        $('.seendiv').addClass('displayNone');         
        return '<div class="msg-'+align+' text-'+align+'"><div>'+data.msg+'</div><p>'+data.time+'</p></div> ';
      }

      function goodstr(str){        
        if (str.length>25){
          return str.substr(0,25)+"..";
        } else {
          return str;
        }
          
      }

      
        $(document).ready(()=>{
          

          //search functionality
          $('.reset-search').click(()=>{
            $("#search-results").html('');
            $(".searchQuery").val('');
            $('.reset-search').html('');

          });
          
          var searchform = $('#search-form');          
        });

        function resetsearch(){
            $('.reset-search').html('');
            $('.reset-search').html('<i class="fa fa-times"></i>');
        }

        function search(){            
            const searchQuery =  $(".searchQuery");
            const input = searchQuery.val().trim();
            if(input===''){
              $("#search-results").html("");    
            } else {
                  $("#search-results").html("<div style='padding:10px 15px;font-size:11px;background:#eee;text-align:center;'>Searching...</div>");    
                    //$('.chats-div').scrollTop(0);
                  $('.chats-div').animate({ scrollTop: 0 }, 'fast');
                  //e.preventDefault();
                  fetch('/searchusers/'+input+"/<%=user.username%>",{method:'get'}).then((res)=>{
                      return res.json();
                  }).then((res)=>{
                      $("#search-results").html('');    
                      //$('.chats-div').scrollTop(0);
                      $('.chats-div').animate({ scrollTop: 0 }, 'fast');

                      if(res.length>0){                                
                          $("#search-results").append("<div style='padding:10px 15px;font-size:11px;background:#eee;text-align:center;'>Search results | "+res.length+" found</div>");            
                          res.forEach((oneuser)=>{
                            var common = $.grep(user_chats, function(element) {
                                return $.inArray(element, oneuser.chats ) !== -1;
                            });                            
                            var data = {
                                "chatname":oneuser.fullname,
                                "lastmessage":""+oneuser.points.toString()+" Points",     
                                "uid":oneuser._id,           
                                "username":oneuser.username                
                            }                                                                 
                            if(common.length>0){
                                data["unseen"]=false;
                            }    else {
                              data["no_unseen"]="New chat";
                            }

                            $("#search-results").append(buildSearchResults(data));  
                          });
                          $("#search-results").append("<div style='padding:10px 15px;font-size:11px;background:#eee;text-align:center;'>End of search results</div>");  
                      } else {
                        $("#search-results").prepend("<div style='padding:10px 15px;font-size:11px;background:#eee;text-align:center;'>No results found</div>");
                      }
                      
                  });     
            }                               
          }

          function msgseen(id){
                fetch('/msgseen/'+id,{method:'get'}).then((res)=>{
                    return res.json();
                }).then((data)=>{
                                        
                });
          }

          //Chat add
          var channel = pusher.subscribe('chat-changes');
          channel.bind('add', function(data) {                                
              if(data.chat_data.for.includes('<%=user.user_id%>')){
                  addnewchatinlist(data.chat_data.chat_id);
                  $('#loading-message').html('');
                  $('#nochat-message').html('');
                  $('#chats').prepend(buildChat(data.chat_data));

                  snackbar("New chat established with "+data.chat_data.chat_name.<%=user.username%>+". Start messaging now.");
              }                                          
          });


          //Messages add
          var channel = pusher.subscribe('message-changes');
          channel.bind('add', function(data) {  

              if(data.chat_id===chat_now&&user_chats.includes(data.chat_id)){
                  var onemsg = data.message_data;
                  $('#custom-text').html();                
                  if(onemsg.by==='<%=user.user_id%>') {
                      lastmsg = true;
                      $(".messages-inner-div").append(buildMessage(onemsg, 'right'));
                  } else {
                      lastmsg = false;
                      msgseen(data.chat_id);
                      $(".messages-inner-div").append(buildMessage(onemsg, 'left'));
                  } 
                  noofmsgs = noofmsgs+1;                     
                  $('.messages-inner-div').animate({ scrollTop: 1000*noofmsgs }, 1);
                  
              }     
              
              if(user_chats.includes(data.chat_id)){
                  var lm = data.message_data.msg;
                  if (lm.length>25){
                    lm =  lm.substr(0,25)+"...";
                  } 
                  $("#lm"+data.chat_id+"").html(lm);
                
                  if(data.chat_id!=chat_now){
                        clearunseen(data.chat_id);
                  }
                                    
              }
          });

          channel.bind('changes',(data)=>{
              if(data.chat_id===chat_now&&data.lastseen==true){
                  if(lastmsg){
                      $(".messages-inner-div").append("<div class='seendiv'><i class='fa fa-check-circle'></i> Message Seen</div>");
                      noofmsgs=noofmsgs+1;
                      $(".seendiv").fadeIn(500);
                      $('.messages-inner-div').animate({ scrollTop: 1000*noofmsgs }, 1);
                  }
              }
          });

          var channel3 = pusher.subscribe('points-changes');
          channel3.bind('add',(data)=>{
              console.log(data);
              if(data.for.includes('<%=user.user_id%>')){
                  var new_points = parseInt($('#user-points').html().toString())+data.to_add;
                  $('#user-points').html(new_points.toString());
                  snackbar("Points increased !!");
              }
          });

          function clearunseen(chat_id){
              $(".unseen-out"+chat_id).html('');
              $(".unseen-out"+chat_id).html('<div class="unseen">New Msg</div>');
          }

                         

          function addnewchatinlist(id){
            user_chats.push(id);            
          }

          function getChatDetails(){
            fetch('/getchatdetails',{method:'get'}).then((res)=>{
                return res.json();
            }).then((data)=>{
                if(data.length>0){
                    $('#loading-message').html(' ');
                    $('#nochat-message').html(' ');
                    data.forEach((data2)=>{
                      $('#chats').prepend(buildChat(data2));

                    });
                } else {
                    $('#loading-message').html(' ');
                    $('#nochat-message').html('Start new chat and earn points. Search for people above.');
                }
                
            });
          }

          getChatDetails();
          
        
    </script>
    
  </body>
</html>